body {
    margin: 0;
    background-color: white;
    font-family: arial;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding: 20px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    height: 100vh;
    padding-left: 32px;
    padding-top:16px;
    background-color: black;
    color:white;
}

.sidebar h1 {
    margin-top: 5px;
}

.main hr{
    border-top: 1px solid rgba(0, 0, 0, 0.44);
}

.sidebar hr{
    border-top: 1px solid rgba(242, 242, 242, 0.44)
}

.sidebar a{
    color: white;
    text-decoration: none;
}

.sidebar a:hover{
    color: white;
    text-decoration: underline;
}

.main a{
    color: #a51c30;
}