{% extends "encyclopedia/layout.html" %}

{% block title %}
    {% if title %}
        {{ title }}
    {% else %}
        Encyclopedia
    {% endif %}
{% endblock %}

{% block body %}
    <h1>{{heading}}</h1>
    <hr>

    <ul>
        {% for entry in entries %}
            <li>
                <a href="{% url 'page' entry %}">{{ entry }}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}