{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="row">
            <div class="sidebar col-lg-3 col-md-3">
                <h1>Wiki</h1>
                <hr>
                <form action="{% url 'search' %}" method="post">
                    {% csrf_token %}
                    <input class="search" type="text" name="q" placeholder="Search Encyclopedia">
                </form>
                <br>
                <p>
                    <a href="{% url 'index' %}">Home</a>
                </p>
                <p>
                    <a href="{% url 'newPage' %}">Create new page</a>
                </p>
                <p>
                    <a href="{% url 'randomPage' %}">Random Page</a>
                </p>
                {% block nav %}
                {% endblock %}
            </div>
            <div class="main col-lg-9 col-md-9">
                {% block body %}
                {% endblock %}
            </div>
        </div>

    </body>
</html>