{% extends "encyclopedia/layout.html" %}

{% block title %}
    {% if form.title.is_hidden %}
        Edit - {{ form.data.title }}
    {% else %}
        Wiki - new page
    {% endif %}
{% endblock %}

{% block body %}
    {% if form.title.is_hidden %}
        <h2>Edit Page</h2>
    {% else %}
        <h2>Add new page</h2>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <p>
            {{ form.title.label }}:<br>
            {% if form.title.is_hidden %}
                {{ form.data.title }}
            {% endif %}
            {{ form.title }}
            {% for error in form.title.errors %}
                <span style="color:red">[ {{ error }} ]</span>
            {% endfor %}
        <p>
            {{ form.content.label }}:<br>
            {{ form.content }}
            {% for error in form.content.errors %}
                <span style="color:red">[{{ error }}]</span>
            {% endfor %}
        </p>

        <input type="submit" class="button" value="Save">
    </form>
{% endblock %}