{% extends "encyclopedia/layout.html" %}

{% block title %}
    Wiki - {{title}}
{% endblock %}

{% block body %}
    {{ content|safe }}

    <p>
        <a href="{% url 'editPage' title %}">Edit Page</a>
    </p>
{% endblock%}